.tableBody {
	letter-spacing: 0.75px;
	font-size: 1.6rem;
	color: #577198;
}

.body-record {
	padding: 2rem 0.1rem;
}

.body-record:not(:first-child) {
	border-left: 0.1rem solid #dae0e9;
}

.body-row:nth-of-type(odd) {
	background-color: #fff;
}

.body-row:nth-of-type(even) {
	background-color: #f1f6fc;
}

.body-row:last-child > .body-record:first-child {
	border-bottom-left-radius: 5px;
}

.body-row:last-child > .body-record:last-child {
	border-bottom-right-radius: 5px;
}

.body-record:nth-of-type(odd) {
	font-weight: bold;
}

.body-record.company {
	text-transform: lowercase;
}

@media (max-width: 767px) {
	.body-row {
		cursor: pointer;
	}

	.body-row:first-child {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.body-row:last-child {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.body-row:not(:last-child) {
		border-bottom: 1px solid #dae0e9;
	}

	.body-record {
		position: relative;
		padding-left: 50%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.body-record:not(:last-child) {
		border-bottom: 1px solid #dae0e9;
	}

	.body-record:before {
		position: absolute;
		top: 10px;
		left: 20px;
		width: 45%;
		white-space: nowrap;
		text-align: left;
	}

	.body-record:nth-of-type(1):before {
		content: 'iD';
	}

	.body-record:nth-of-type(2):before {
		content: 'First Name';
	}

	.body-record:nth-of-type(3):before {
		content: 'Last Name';
	}

	.body-record:nth-of-type(4):before {
		content: 'Date of birth';
	}

	.body-record:nth-of-type(5):before {
		content: 'Company';
		text-transform: none;
	}

	.body-record:nth-of-type(6):before {
		content: 'Note';
	}
}
