.tableBody {
	letter-spacing: 0.75px;
	font-size: 1.6rem;
	color: #577198;
}

.body-record {
	padding: 2rem 0.1rem;
}

.body-record:not(:first-child) {
	border-left: 0.1rem solid #dae0e9;
}

.body-row:nth-of-type(odd) {
	background-color: #fff;
}

.body-row:nth-of-type(even) {
	background-color: #f1f6fc;
}

.body-row:last-child > .body-record:first-child {
	border-bottom-left-radius: 5px;
}

.body-row:last-child > .body-record:last-child {
	border-bottom-right-radius: 5px;
}

.body-record:nth-of-type(odd) {
	font-weight: bold;
}

.body-record.company {
	text-transform: lowercase;
}
