.table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.5);
}

.table .header-record:not(:first-child),
.body-record:not(:first-child) {
	min-width: 110px;
}
