.tableHeader {
	letter-spacing: 0.66px;
	background-color: #e5eefb;
	color: #3a5071;
	font-size: 1.4rem;
}

.header-record {
	padding: 2rem 0.1rem;
}

.header-record:not(:first-child) {
	border-left: 1px solid #dae0e9;
}

.header-record:first-child {
	border-top-left-radius: 5px;
}

.header-record:last-child {
	border-top-right-radius: 5px;
}

.header-record.id {
	padding: 2rem 0.5rem;
	min-width: 50px;
}
