@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	height: 100%;
}

body {
	text-align: center;
	background-color: #3282ff;
	color: #fff;
}
